.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
  }
  
  .qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }
  
  .qualification__button:hover {
    color: var(--first-color);
  }
  
  .qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
  }
  
  .qualification__data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: var(--mb-2);
  }
  
  .qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  .qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    justify-self: center;
  }
  
  .qualification__calendar {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
  }