.home {
    margin-top: 3em;
}

.home__container {
    gap: 1rem;
}
  
.home__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home__section {
    display: flex;
    flex-direction: row;
}

.home__social {
    padding-top: 5em;
}

.home__social-icon {
    display: block;
    font-size: 2.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__blob {
    fill: var(--first-color);
    padding-bottom: 1em;
}

.home__blob-img {
width: 170px;
}

.home__data {
    grid-column: 1/5;
}

.home__title {
    font-size: 5em;
}

.home__subtitle {
    font-size: var(--h1-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
    font-size: var(--h2-font-size);

}

.home__scroll {
/* display: none; */
}

.home__scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(.25rem);
}

.home__scroll-name {
    font-size: var(--h2-font-size); 
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}